export('simData', 'd0', 'd1')
import("SummarizedExperiment")
import("doseR")
importFrom("stats", "rgamma", "rnbinom")
importFrom("S4Vectors", "DataFrame")
import("RUnit")
import("edgeR")
#import("limma")
importFrom("stats", "anova", "coef", "model.matrix")
    importFrom("utils", "head")
